body {
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  background-image: url(https://images.wallpaperscraft.ru/image/single/ovtsa_sobaka_trava_95236_1920x1080.jpg);
}

 /* цвет надписей в полоске */
a, a:-webkit-any-link {
  color: rgb(255, 255, 255) ;
  text-decoration: none ;
}
 
/* полоска */
header {
  min-height: 104px;
  min-width: 1000px;
  background-color: rgb(0, 0, 0);
  padding-left: 5%;
  padding-right: 5%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

/* надписи в полоске */
header ul
{
  
  padding-top: 1rem;
  list-style: none;
  display: flex;
}

/* надписи */
header ul li a {
  padding-right: 2rem;
}
/* лого */
.logo {
  font-size: 2rem;
}

/* расположение надписей в центре */
.class2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* надпись в центре */
.class3 {
  color: rgb(0, 0, 0);
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.class4 {
  font-size: medium;
  color: rgb(0, 0, 0);
  height: 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* фон надписей */
.class3 span, .class4 span, .class5 span {
	background-color: rgba(247, 235, 235, 0.5);
	box-shadow: -10px 0 0 rgba(245, 227, 227, 0.5), 10px 0 0 rgba(255, 231, 231, 0.5);
}

/* карточки перевертышы */
.mycards{
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* размеры одной карточки */
.mycard {
  width: 300px;
  position: relative;
  height: 200px;
  padding: 5px;
}
/* собственно перевороты */
.mycard-flip {
  transition: all 2s;
  position:absolute;
  backface-visibility: hidden;
}
.mycard-back{
  transform:rotateY(180deg);
}
.mycard:hover .mycard-front{
  transform: rotateY(-180deg);
}
.mycard:hover .mycard-back{
  transform: rotateY(0); 
}

/* надписи за карточкой */
.class5 {
  background-image: url(https://images.wallpaperscraft.ru/image/single/ovtsa_kudri_trava_108810_300x168.jpg);
  padding: 30px;
}

.btn {
  color:rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 0.5rem 1.5rem;
  position: fixed;
  bottom: 10px;
  left: 52%;
  margin-left: -104.5px;
}




/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.carousel-control-next, .carousel-control-prev {
  height: 750px;
  max-width: 15%;
}
.video{
  padding-top: 5rem;
  padding-left: 34%;
}
.table>:not(caption)>*>* {
  background-color: rgb(0, 0, 0);
}
