body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("image/grass2.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
}
 /* цвет надписей в полоске */
a, a:-webkit-any-link {
  color: rgb(255, 255, 255) ;
  text-decoration: none ;
}

header {  
  background-color: rgb(0, 0, 0); 
  display:flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;

}
/* надписи в полоске */
header ul
{
  list-style: none;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
/* надписи */
header ul li a {
  padding-right: 2rem;
}
.logo {
  margin-left: 1rem;
  font-size: 3rem;
}
h1 {
	font-size: 80px;
	margin-bottom: 30px;
  margin-top: 30px;
}
h3, p {	margin-bottom: 30px;}
button {
	border: none;
	padding: 0.625rem 1.25rem;
	border-radius:3.125rem;
	color: rgb(0, 0, 0);
	background: rgb(255, 255, 255);
	margin-bottom: 3.125rem;
  cursor: pointer;

}
.btn {
  color:rgb(255, 255, 255);
  background: rgb(0, 0, 0);
	padding: 0.625rem 1.25rem;
  position: fixed;
  bottom: 0.625rem;
}
/* расположение надписей в центре */
.class {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* фон надписей */
 .class, .container {
	background-color: rgba(247, 235, 235, 0.5);
	box-shadow: -10px 0 0 rgba(245, 227, 227, 0.5), 10px 0 0 rgba(255, 231, 231, 0.5);
}
/* карточки перевертышы */
.mycards{
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* размеры одной карточки */
.mycard {
  width: 300px;
  position: relative;
  height: 200px;
  padding: 5px;
}
/* собственно перевороты */
.mycard-flip {
  transition: all 2s;
  position:absolute;
  backface-visibility: hidden;
}
.mycard-back{
  transform:rotateY(180deg);
}
.mycard:hover .mycard-front{
  transform: rotateY(-180deg);
}
.mycard:hover .mycard-back{
  transform: rotateY(0); 
}
/* надписи за карточкой */
.class5 {
  background-color: #ccc;
  width: 300;
  height: 20;
  /* padding: 30px; */
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
.container {
  border-radius: 5px;
  padding: 10px;
}
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.carousel-inner{
  display: flex;
  align-items: center;
  text-align: center;
}
.carousel-control-next, .carousel-control-prev {
  height: 750px;
  max-width: 15%;
}
.video{
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.table>:not(caption)>*>* {
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
